* {
  margin: 0;
  padding: 0;
}

.nav {
  background: rgb(187, 0, 255);
  padding: 0px 100px;
  height: 10vh;
  display: flex;
  align-items: center; /* Vertically center the items */
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: rgb(200, 198, 198);
}
.navbar {
  width: 100%;
  display: flex;
}
.navigation-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.nav-item {
  margin: 0 10px;
}
